#prima-barra{
    min-height:40px;
    background-color: white;
    margin-bottom: 0;
    border-color: #e7e7e7;
    border-radius: none;
}


#new-bottone{
    background-color: #00d7d2;
    border-radius: 5px;
    color: #031b4e;
    font-size: 12px;
    line-height: 1;
    padding: 4px 8px;
    text-transform: uppercase;
    margin-top: 13px;
    margin-left: 30px;
}

#sinistra{
    float: left;
    margin-top: 13px;
}

#docs-lista{
    float: right;
}

#testo-linkabile{
    color: #5b6987;
    margin-left: 10px;
    margin-top: 13px;
}

#testo-linkabile:hover{
    color: #0069ff;
}

#docs-lista li{
    margin-right: 30px;
    margin-top: 13px;
    list-style: none;
}

#docs-lista li a{
    color: #5b6987;
}

#logo-digital{
    height: 51px;
    width: 195px;
    float: left;
    padding-bottom: 23px;
}

#seconda-barra{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    height: 65px;
    background-color: white;
}

#barra-logo-ocean{
    margin-left: 14px;
    margin-right: 0;
}

#bs-example-navbar-collapse-1{
    margin-left: 0;
    width: 1340px;
}

#seconda-barra .navbar-nav>li>a {
    color:#5b6987 ;
}

#seconda-barra .navbar-nav>li>a:hover{
    color: #0069ff;
}

#lista-prodotti{
    padding-left: 46px;
    padding-top: 6px;
}

#sign-up{
    padding-right: 22px;
}

#bottone-azzurro{
    height: 36px;
    width: 89px;
    background-color: transparent;
    border: 2px solid #0069ff;
    border-radius: 5px;
    color: #0069ff;
    display: inline-block;
}

#bottone-azzurro:hover{
    background-color: #0069ff;
    color: white;
}
