body{
    font: 400 16px/1.5 Sailec-Regular,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#prima-barra{
    min-height:40px;
    background-color: white;
    margin-bottom: 0;
    border-color: #e7e7e7;
}

#new-bottone{
    background-color: #00d7d2;
    border-radius: 5px;
    color: #031b4e;
    font-size: 12px;
    line-height: 1;
    padding: 4px 8px;
    text-transform: uppercase;
    margin-top: 13px;
    margin-left: 30px;
}

#sinistra{
    float: left;
    margin-top: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

#docs-lista{
    float: right;
}

#testo-linkabile{
    color: #5b6987;
    margin-left: 10px;
    margin-top: 13px;
}

#testo-linkabile:hover{
    color: #0069ff;
}

#docs-lista li{
    margin-right: 30px;
    margin-top: 13px;
    list-style: none;
}

#docs-lista li a{
    color: #5b6987;
}

#logo-digital{
    height: 51px;
    width: 195px;
    float: left;
    padding-bottom: 23px;
}

#seconda-barra{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    height: 65px;
    background-color: white;
}

#barra-logo-ocean{
    margin-left: 14px;
    margin-right: 0;
}

#bs-example-navbar-collapse-1{
    margin-left: 0;
    width: 1340px;
}

#seconda-barra .navbar-nav>li>a {
    color:#5b6987 ;
}

#seconda-barra .navbar-nav>li>a:hover{
    color: #0069ff;
}

#lista-prodotti{
    padding-left: 46px;
    padding-top: 6px;
}

#bottone-azzurro{
    height: 36px;
    width: 89px;
    background-color: transparent;
    border: 2px solid #0069ff;
    border-radius: 5px;
    color: #0069ff;
    display: inline-block;
    margin-top: 14px;
    margin-right: 61px;
}

#bottone-azzurro:hover{
    background-color: #0069ff;
    color: white;
}

@media screen and ( max-width: 1050px) {
    #seconda-barra {
        display: none;
    }
    .deve-sparire{
        display: none;
    }
}

@media screen and ( min-width: 1049px){
    #sezione-nascosta{
        visibility: visible;
    }
}

#sezione-con-sfondoblu{
    height: 940px;
    background-image: url('../img/background.jpg');
    background-size: cover;
}

#sezione-nascosta{
    height: 110px;
}

#logo-bianco{
    width: 40px;
    padding-top: 70px;
    float: left;
    border-radius: 6px;
}

#scritta-bianco{
    color: white;
    font-size: 20px;
    padding-top: 75px;
    padding-left: 10px;
    float: left;
}

div.hamburger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

#hamburger-menu{
    float: right;
    padding-top: 65px;
}

#titolo-large{
    color: white;
    font-size: 40px;
    width: 576px;
    margin-top: 104px;
}

@media screen and (min-width: 1000px){
    #titolo-large{
    font-size: 64px;
    }
}

#paragrafo{
    color: #fff;
    opacity: .8;
    font-size: 24px;
}

#titolo-form-insieme{
    padding-top: 100px;
    padding-right: 30px;
}

#solo-distanza{
    padding-left: 100px;
}

#sezione-form{
    width: 478px;
    height: 580px;
    background-color: white;
    padding: 32px;
    font-size: 16px;
    border-radius: 7px;
}

@media screen and (max-width: 1065px){
    #sezione-form{
        width: 400px;
    }
    #titolo-large{
        width: 450px;
    }
}

@media screen and (max-width: 900px){
    #sezione-form{
        width:310px;
    }
    #titolo-large{
        width: 350px;
    }
}

@media screen and (max-width: 768px){
    #sezione-form{
        width:100%;
    }
    #titolo-large{
        margin-top: 10px;
    }
    #titolo-form-insieme{
        padding-top: 30px;
    }
    #sezione-form{
        height: 510px;
        width: 100%;
        padding: 20px;
        margin: auto;
    }
    #solo-distanza{
        padding-left: 20px;
    }
}

#titolo-bold{
    color: #031b4e;
    padding-bottom: 26px;
}

.form-control-mie {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    color:rgba(3,27,78,.7);
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    -webkit-transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .25s;
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .25s;
    font-size: 16px;
}

#bottone-blu{
    background-color: #1633ff;
    border: none;
    color: #fff;
    width: 100%;
    height: 49px;
    font-size: 16px;
}

.linea-scritta {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#sign-up-linee{
    margin-left: 104px;
    margin-right: 53px;
}

/*maledette linee col befor-after*/
/* .linea-inizio {
    width: 300px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
} */

/* .linea-inizio::before {
    left: 0;
}

.linea-inizio::after, .linea-inizio::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
    height: 1px;
    background-color: black;
} */

/*maledette linee col befor-after*/

#up-with{
    text-align: center;
    margin-bottom: 18px;
}

.mini-icone{
    width: 18px;
}

.bottoni-affiancati{
    display: inline-block;
    height: 50px;
    width: 45%;
    border: 1px rgba(0,105,255,.2);
    background-color: white;
}

#bottoni-sinistra{
    color: #031b4e;
    font-size: 20px;
}

#bottoni-destra{
    color: #031b4e;
    font-size: 20px;
    float: right;
}

.signup-bottoni button{
    background: #f2f8ff;
    border: 1px solid #0069ff;
}

.signup-bottoni button:hover{
    background: #d5e4f7;
}

#terms-service{
    padding-top: 25px;
    font-size: 15px;
    text-align: center;
}

/* FINE form sezione sfondo-blu*/

#sezione-innovative{
    height: 300px;
    background-color: white;
}

#innovative-busin{
    margin-top:70px;
    font-size: 17px;
    opacity: 0.4;
}

#solution-b{
    color: #0069ff;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

.lista-immagini{
    display: inline-block;
    width: calc(100%/2 - 4px);
    vertical-align: middle;
}

.spazio-tra-img{
    padding-right: 55px;
}

@media screen and ( min-width:768px ) {
    .lista-immagini{
        width: calc(100%/6 - 4px);
    }
}

#deploy-title{
    color: #031b4e;
    font-size: 38px;
    margin-top: 40px;
}

#optimized{
    color: rgba(3,27,78,.7);
    padding-bottom: 50px;
    font-size: 20px;
}

/*  parte con lista veticale e 4 sezioni a destra */

#deploy{
    text-align: left;
    height: 200px;
    width: 40%;
    margin-left: 168px;
}

#deploy li{
    padding: 20 40 20 50px;
}

#deploy li a{
    color: rgba(3,27,78,.5);
    text-decoration: none;
    font-size: 19px;
}

#deploy li a:hover{
    color: #031b4e;
}

.deploy-list .text-center{
    margin-bottom: 10px;
}

.quattro-titoli{
    color: #031b4e;
}

.con-spazio{
    padding-bottom: 40px;
}

#img-kubernetes{
    width: 45px;
}

#images-2{
    width: 36px;
}

#images-3{
    width: 41px;
}

#images-4{
    width: 40px;
}

.quattro-paragrafi{
    color: rgba(3,27,78,.7);
    font-size: 16px;
}

/* parte con immagine quadrato */

#designed-dev{
    color: #031b4e;
    font-size: 36px;
}

#build-more{
    color: rgba(3,27,78,.7);
    font-size: 20px;
    padding-bottom: 40px;
}

#designed-riga{
    margin-top: 80px;
}

@media screen and (max-width:1050px) {
    #designed-riga{
        margin-top: 45px;
    }
}

#sfondo-designed-section{
    background-color: #f3f5f9;
}

.cerchio{
    width: 11px;
    height: 12px;
    border-radius: 100px;
    border: 1px solid #0069ff;
}

.cerchio:hover{
    background-color: #0069ff;
}

/* parte con i 4 div uno accanto all'altro */

#built-for-business{
    font-size: 36px;
    color: #031b4e;
    margin-top: 90px;
}

#titolo-built{
    margin-bottom: 60px;
}

@media screen and (max-width:1050px){
    #built-for-business{
        margin-top: 35px;
    }
}

#reliable-img{
    width: 35px;
    margin-bottom: 12px;
}

.reliable-titolo{
    color: #031b4e;
    font-size: 25px;
}

.reliable-paragrafo{
    color: rgba(3,27,78,.7);
    margin-top: 16px;
    font-size: 18px;
    margin-bottom: 18px;
}

.security-linkabili{
    color: #0069ff;
    font-size: 16px;
}

.classe-spazio a:hover{
    text-decoration: none;
}

.classe-spazio{
    margin-bottom: 70px;
}

#predictable-img{
    width: 46px;
}

#world-img{
    width: 62px;
}

#security-img{
    width: 78px;
}

/* parte con planisfero */

#sfondo-1{
    background-color: #031b4e;
    background-image: url('../img/planisfero.svg');
    background-repeat: no-repeat;
    height: 550px;
}
@media screen and ( max-width:767px) {
    #sfondo-1{
        height: 955px;
    }
    #tutte-uguali{
        margin-bottom: 40px;
    }
}

#paragrafo-planisfero{
    color: #fff;
    font-size: 45px;
    text-align: center;
    padding: 50px;
}

@media screen and (max-width:767px) {
    #paragrafo-planisfero{
        font-size: 25px;
    }
}

.liste-uguali{
    padding-left: 50px;
    padding-bottom: 7px;
}

.prima-lista{
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    width: 20%;
    display: inline-block;
    text-align: left;
    padding-left: 25px;
}

.seconda-lista{
    color: #fff;
    opacity: .6;
    font-size: 15px;
    width: 50%;
    display: inline-block;
    text-align: left;
}

.terza-lista{
    width: 20%;
    display: inline-block;
    text-align: right;
}

.colori-link{
    color: #00d7d2;
    text-decoration: none;
}

.colori-link:hover{
    color: #0069ff;
    text-decoration: none;
}

.liste-uguali::after{
    content: ' ';
    width: 93%;
    height: 1px;
    display: block;
    background-color:hsla(0,0%,100%,.2);
    margin-top: 10px;
}

/* 2 grigio con immagine grande */

#sfondo-designed-section-2{
    background-color: #f3f5f9;
}

#designed-riga-2{
    margin-top: 80px;
}

#designed-dev-2{
    color: #031b4e;
    font-size: 36px;
}

#build-more-2{
    padding-top: 23px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 25px;
}

#sezione-immagine{
    width: 55%;
    margin: auto;
    background-color: white;
}

#immagine-sezione-2{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 200px;
}

#paragrafo-sezione-2{
    font-size: 25px;
    font-weight: 400;
    color: rgba(3,27,78,.7);
    width: 90%;
    text-align: center;
}

@media screen and (max-width:1050px) {
    #designed-riga-2{
        margin-top: 45px;
    }
}

#link-sezione-2{
    color: #0069ff;
    font-size: 16px;
    text-decoration: none;
}

#link-sezione-2:hover{
    color: #005fe6;
}

#teams{
    color: #0069ff;
    text-decoration: underline;
}

#teams:hover{
    color: #005fe6;
}

#paragrafo-link{
    padding-bottom: 50px;
}

.cerchio{
    width: 11px;
    height: 12px;
    border-radius: 100px;
    border: 1px solid #0069ff;
}

.cerchio:hover{
    background-color: #0069ff;
}

#tre-pallini{
    margin-top: 30px;
    margin-bottom: 60px;
}

/* piccola sazione-sfondo-pesci */

#sfondo-pesci{
    height: 250px;
    background-image: url('../img/background.jpg');
    background-size: cover;
}

#started-now{
    color: #fff;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
}

#relative-posiz{
    position: relative;
}

#bottone-bianco{
    background-color: #fff;
    color: #0069ff;
    width: 221px;
    height: 53px;
    font-size: 17px;
    border-radius: 7px;
    border:none;
    margin: auto;
    position: absolute;
    top: 82%;
    left: 42%;
    transform: translate( -50% ; -50%);
}

/* 5 colonne */
#ultimo-blu{
    background-color: #010e28;
    height: 600px;
}

.solo-margini{
    width: 70%;
    margin: auto;
    height: 500px;
}

.titolo-bianco{
    font-size: 20px;
    color: #fff;
}

.colore-liste{
    font-size: 20px;
}

#prima-lista-blu li{
    color: hsla(0,0%,100%,.5);
}

#prima-lista-blu li a:hover{
    text-decoration: none;
    color: #fff;
}

#seconda-lista-blu li{
    color: hsla(0,0%,100%,.5);
}

#seconda-lista-blu li a:hover{
    text-decoration: none;
    color: #fff;
}

#terza-lista-blu li{
    color: hsla(0,0%,100%,.5);
}

#terza-lista-blu li a:hover{
    text-decoration: none;
    color: #fff;
}

#quarta-lista-blu li{
    color: hsla(0,0%,100%,.5);
}

#quarta-lista-blu li a:hover{
    text-decoration: none;
    color: #fff;
}

#quinta-lista-blu li{
    color: hsla(0,0%,100%,.5);
}

#quinta-lista-blu li a:hover{
    text-decoration: none;
    color: #fff;
}
